<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d1bbf4c8fa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/home.css">
    <title>RASESUPB</title>
</head>
<body>
    <nav>
        <div class="nav-left">
            <p class="logo">RASESUPB</p>
            <ul>
                <li><i  class="fa-sharp fa-solid fa-bell"></i></li>
                <li><i class="fa-solid fa-envelope"></i></li>
            </ul>

        </div>
        <div class="nav-right">
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search">

            </div>
            <div class="nav-user-icon online">
                <img src="../media/235698444_2007948449356488_497714013479432294_n.jpg" alt="">
            </div>
            <div>
                <p>Empresario</p>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><i class="fa-solid fa-newspaper"></i>Latest News</a>
                <a href="#"><i class="fa-solid fa-user-group"></i>Groups</a>
            </div>
            <div class="shortcut-links">
                <p></p>

            </div>
        </div>
            
        <div class="main-content">
            <div class="write-post-container">
                <div class="user-profile">
                    <img src="../media/235698444_2007948449356488_497714013479432294_n.jpg" alt="">
                    <div>
                        <p>Nicolas Bossio</p>
                        <small>public</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="sidebar-tittle">

                <h4>Events</h4>
                <a href="#">See All</a>
    
            </div>

            <div class="event">
                <div class="left-event">

                </div>
                <div class="right-event">
                    
                </div>

            </div>
        </div>
    </div>


</body>
</html>