body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    /*background: url();
     si se le quiere poner imagen de fondo
    background-size:cover;
    background-attachment: fixed;
    
    
    
     */
     background: #FAFAFA;

}
*{
    box-sizing: border-box;

}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #FF0000;
    margin-top: 150px;
    padding: 3px;
}
i{
    color: #FAFAFA;
}
h1{
    text-align: center;
    color: #FAFAFA;
    font-size: 40px;

}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;

}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
i{
    
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border:none;
    width: 100%;
    color:white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;

}
.link:hover{
    background: cadetblue;

}
@media(min-width:768px)
{
    .formulario{
        margin:auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }


}